*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #80808029;
}

.tamanho-limite {
    max-width: 1024px;
}

/* topo */
header {
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-topo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-topo img {
    width: 32px;
    height: 32px;
}

.container-topo p {
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}

/* Semântica Main */
main {
    width: 100%;
    height: auto;
    background-image: url(../Imagens/bahia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.agrupamento-tit-form {
    width: 100%;
    height: auto;
    margin: 50px auto;
}

.titulo-formulario {
    width: 100%;
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-formulario img {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

h1 {
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
}

.container-formulario {
    max-width: 100%;
    background-color: #fff;
    padding: 25px 30px 25px 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
}

input, select {
    height: 32px;
    margin: 10px 0;
    width: 100%;
}

input {
    padding: 0 5px;
}

select {
    padding: 0 3px;
}

.agrupamento-select {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.selecao {
    width: calc(50% - 10px);
}

.selecao select {
    width: calc(105% - 10px);
}

.agrupamento-id {
    display: flex;
    align-items: center;
    width: 120px;
}

.agrupamento-id input {
    width: 15px;
}

.agrupamento-id label {
    margin-left: 8px;
}

button {
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}

/* seção um */
.secao-um {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 32px auto 0 auto;
}

.secao-um h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.secao-um p {
    font-size: 16px;
    margin-bottom: 15px;
}

.grupo-geral-imagens {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.imagem-destaque {
    width: calc(50% - 10px);
    height: 100%;
    position: relative;
}

.grupo-imagens-menores {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grupo-imagens-menores figure {
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
    position: relative;
}

.grupo-geral-imagens figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,50%);
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}

/*  */
.agrupamento-anuncio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.agrupamento-anuncio figure {
    width: calc(50% - 10px);
    height: 100%;
}

.agrupamento-anuncio figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .legenda-anuncio {
    width: 100%;
    background-color: #fff;
}

.legenda-anuncio h4 {
    font-size: 16px;    
}

.legenda-anuncio p {
    color: gray;
    font-size: 14px;
    margin-top: 15px;
}

/* footer */
footer {
    width: 100%;
    background-color: #5d15d1;
    margin-top: 32px;
}

.agrupamento-rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.container-info-rodape {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.container-info-rodape h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
}

.info-rodape {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.info-rodape img {
    width: 18px;
}

.info-rodape span {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

/* responsivo */
@media (max-width: 1100px){
    .tamanho-limite {
        width: 90%;
    }
}

@media (max-Width: 768px){
    button {
        width: 100%;
    }

    .grupo-geral-imagens {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .grupo-geral-imagens figure {
        width: 100%;
        height: 225px;
        margin: 15px auto;
    }

    .grupo-imagens-menores {
        width: 100%;
    }

    .grupo-imagens-mencores figure {
        width: 100%;
        height: 225px;
    }

    .agrupamento-anuncio {
        display: flex;
        flex-direction: column;
    }

    .agrupamento-anuncio figure {
        width: 100%;
        margin-top: 15px;
    }

    .legenda-anuncio {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .agrupamento-rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-rodape {
        width: 250px;
    }
}

@media (max-width: 540px){
    .agrupamento-select {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .selecao, .agrupamento-id {
        width: 100%;
    }
}